.teamLogo{
    max-width: 50px;
    display: block;
    margin: auto;
    margin-top: 15%;
}

.leagueLogo{
    max-width: 25px;
}

.header{
    top: 5px;
    padding-top: 5%;
    width: 100%; 
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.container{
    background-color: #F8F8F8;
    padding-bottom: 10px;
}

.teamName{
    color: #626262;
    font-size: 60%;
    margin-top: 1rem;
}

.score{
    font-size: 30px;
    letter-spacing: 5px;
}