<div class="subtitle_block"> 
        <i class="material-icons"> ondemand_video </i>
        <h4 class="link-title"> DIRECT STREAMING </h4>
</div>
<table *ngIf="links" class="links">
    <tr> 
        <td> COMPATIBILTY </td>
        <td> PROVIDER </td>
        <td> UPVOTES </td>
        <td> DOWNVOTES </td>
        <td> ACTIONS </td>
        
    </tr>
    <tr class="content" *ngFor="let link of links"> 
        <td> 
            <i class="material-icons">
                smartphone
            </i> 
            <i class="material-icons">
                tablet
            </i> 
        </td>
        <td> {{ link.provider }} </td>
        <td>  {{ link.upvotes }} <i style="font-size: 12px; color: green" class="material-icons">
                thumb_up
                </i>  </td>
        <td> {{ link.downvotes }} <i style="font-size: 12px; color: #EA3D3D" class="material-icons">
                thumb_down
                </i> </td>
        <td> 
            <button type="button" class="btn-cp" ngxClipboard [cbContent]="link.id" (cbOnSuccess)="copied($event)" id="link_{{link.id}}" (click)="copyLink($event, link)"> 
                <i style="font-size: 10px;" class="material-icons"> filter_none </i> copy
            </button> 
            <button class="btn-cp" (click)="redirect($event,link)" target="_blank">  <i style="font-size: 10px;" class="material-icons"> launch </i> watch </button> 
        </td>
        
    </tr>
</table>