<hr>
<div *ngIf="links" class="subtitle_block"> 
        <i style="color: #0D47A1" class="material-icons"> ondemand_video </i>
        <span class="link-title"> Watch live </span>
</div>
<table style="font-size: 8px; color :#0D47A1" *ngIf="links" class="table">
    <tr> 
        <td> COMPATIBILTY </td>
        <td> PROVIDER </td>
        <td> Kudos </td>
        <td  style="text-align: right;"> ACTIONS </td>
        
    </tr>
    <tr class="content" *ngFor="let link of links"> 
        <td> 
            <i style="color: #0D47A1;" class="material-icons">
                smartphone
            </i> 
            <i style="color: #0D47A1" class="material-icons">
                tablet
            </i> 
        </td>
        <td> {{ link.provider }} </td>
        <td>  {{ link.upvotes - link.downvotes}} </td>
        <td style="text-align: right;">
            <span (click)="doUpvote(link._id)" class="badge badge-pill badge-success"  style="margin-right: 1px;"> <i style="font-size: 15px; margin-right: 5px;" class="material-icons"> thumb_up </i> </span>
            <span (click)="doDownvote(link._id)" class="badge badge-pill badge-danger" style="margin-right: 1px;" > <i style="font-size: 15px; margin-right: 5px;" class="material-icons"> thumb_down </i> </span>
            <span (click)="copyLink($event, link)" ngxClipboard [cbContent]="link.id"  style="margin-right: 1px;" (cbOnSuccess)="copied($event)" id="link_{{link.id}}"  class="badge badge-pill badge-info"> <i style="font-size: 15px; margin-right: 5px;" class="material-icons"> filter_none </i> </span> 
            <span (click)="redirect($event,link)" target="_blank" class="badge badge-pill badge-primary"> <i style="font-size: 15px; margin-right: 5px;" class="material-icons"> play_arrow </i> </span>
        </td>
        
    </tr>
</table>