.subtitle_block{
    margin: 3px;
}
.subtitle_block > h4{
    color: #646464;  
    padding: 6px;
}

.subtitle_block > i {
    padding: 5px; 
    color: #646464; 
    float: left;
}

.links{
    width: 100%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.links tr:first{
    padding-bottom: 10px;
}

.btn-cp{
    background-color: transparent ;
    border-color: green; 
    padding: 2px;
    margin: 2px;
}

.btn-cp:hover{
    border: transparent; 
    color: white; 
    background-color: green; 
}

tr {
    margin: 100px;
    height: 40px;
}

.links th{
    font-size: 10px ;
    
}

.link-title{
    color: #0D47A1; 
}

.links tr{
    font-size: 10px ;
}

a{
    color: black ;
    padding-left: 5px;
}


/* some simple transitions to make the upvote and downvote
buttons fade in as a visual cue for the user */

.glyphicon {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.glyphicon:hover {
    opacity: 0.75;
    cursor: pointer;
}