<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"  aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand"> Speed Goals admin</a> <br>
</nav>
<div class="container">
        <h2> Live matches </h2>
        <table class="table">
            <tr> 
                <th> id </th>
                <th> home team </th>
                <th> away team </th>
                <th> elapsed </th>
                <th> action </th> 
            </tr>
            <tr *ngFor="let match of matches">
                <td> <a href="/fixture/{{match.fixture_id}}" target="_blank"> {{match.fixture_id }}</a> </td>
                <td> <img *ngIf="match.homeTeam.logo" style="max-width: 20px" src="{{ match.homeTeam.logo }}"/> <br> <small> {{ match.homeTeam.team_name }} </small> </td>
                <td> <img *ngIf="match.homeTeam.logo" style="max-width: 20px" src="{{ match.awayTeam.logo }}"/> <br> <small> {{ match.awayTeam.team_name }} </small></td>
                <td> {{ match.elapsed }}" </td> 
                <td> <button class="btn btn-sm btn-info"> show links </button>  <button class="btn btn-sm btn-success" (click)="open(content,match.fixture_id)"> add link </button> </td>
            </tr>
        </table>

        <ng-template #content let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title"> Add link to match </h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <app-link-add fixture_id="{{selected_match}}"></app-link-add>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
            </div>
          </ng-template>
</div>





                




