
<button (click)="open(addArticle)"> Add article </button>

<table class="table">
    <tr> 
      <td> id </td>
      <td> isLive</td>
      <td> title</td>
      <td> Caption</td>
      <td> image (50x50)</td>
      <td> action </td> 
    </tr>
    <tr *ngFor="let article of news"> 
        <td> {{ article._id }} </td>
        <td>{{ article.isLive }}</td> 
        <td> {{ article.title }} </td>
        <td> {{article.caption}}</td>
        <td> <img src="{{ article.picture_link }}" style="max-width: 50px"/> </td>
        <td> <button type="button" class="btn btn-sm btn-danger" (click)="deleteArticle(article._id)"> delete </button> </td> 
      </tr>
  </table>

  <ng-template #addArticle let-modal>
      <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title"> Match links </h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
      </button>
      </div>
      <div class="modal-body">
          <app-article-add></app-article-add>
      </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
      </div>
  </ng-template>

